<div class="p-4">
    <div class="flex flex-row justify-between mb-4">
        <h1 class="text-3xl text-center font-bold">Clubs</h1>
        <a [routerLink]="['/clubs/new-club']"><button class="btn btn-primary btn-sm">Create Club</button></a>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        @for (club of clubList; track club) {
            <div class="card card-compact content-container hover:cursor-pointer hover:bg-base-300" routerLink="/clubs/{{club.id}}">
                <div class="card-body">
                    <div class="flex">
                        <div class="avatar placeholder">
                            <div class="bg-base-200 rounded-full w-16">
                                <img src="{{ this.clubLogoPath + club.logoUrl }}">
                              </div>
                        </div>
                        <div class="ml-4">
                            <h2 class="card-title text-center">{{ club.name }}</h2>
                            <div class="flex gap-1">
                                <fa-icon [icon]="faEnvelope"></fa-icon>
                                <p class="font-light">{{ club.contactEmail }}</p>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>    
</div>
<div class="mt-12"></div>
<app-event-list></app-event-list>