<h1 class="text-3xl font-bold p-4">Events</h1>
<div class="p-4 content-container">
    <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-3">
        @for (event of eventsList; track event) {
            <div class="card shadow-md hover:cursor-pointer hover:bg-base-200" routerLink="/events/{{event.id}}">
                <div class="bg-cover bg-center" style="background-image: url('bird.jpg');"></div>
                <div class="card-body">
                    <h2 class="card-title">{{ event.name }}</h2>
                    <h3 class="font-medium">{{event.location}}</h3>
                </div>
            </div>
        }
    </div>
</div>
