<div class="container">
    <div class="grid grid-cols-1 gap-4">
        <div>
            <h1 class="text-center text-2xl">Dashboard</h1>
        </div>

        <div>
            <div class="stats shadow">
                <div class="stat">
                    <div class="stat-title">Tickets Sold</div>
                    <div class="stat-value">{{ ticketStats.ticketsSold }}/{{ ticketStats.totalTickets }}</div>
                </div>
            </div>
            <a routerLink="/events/{{event.id}}/buy-tickets"><button class="btn">Ticket Page</button></a>
        </div>

        <div>
            <div class="collapse bg-base-200 collapse-arrow">
                <input type="checkbox" />
                <h2 class="collapse-title text-xl">Event Info</h2>
                <div class="collapse-content">
                    <p>Name: {{ event.name }}</p>
                    <p>Location: {{ event.location }}</p>
                    <p>Date: {{ event.when }}</p>
                    <button class="float-right btn btn-sm btn-outline" onclick="edit_event.showModal()" (click)="editEvent()">Edit</button>
                </div>
            </div>
        </div>

        <div>
            <div class="collapse bg-base-200 collapse-arrow">
                <input type="checkbox" />
                <h2 class="collapse-title text-xl">Ticket Types</h2>
                <div class="collapse-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (ticketType of ticketTypes; track ticketType){
                                <tr>
                                    <th>{{ ticketType.name }}</th>
                                    <th>${{ ticketType.price }}</th>
                                    <th>{{ ticketType.quantity }}</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button class="float-right btn btn-sm btn-outline" onclick="add_ticket_type.showModal()">Add</button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modals -->
<dialog id="edit_event" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <h3 class="text-lg">Update Event Details</h3>
        <form [formGroup]="editEventForm">
            <label for="name" class="input input-bordered flex items-center gap-2">
                Name
                <input id="name" formControlName="name" class="grow" type="text">
            </label>

            <label for="location" class="input input-bordered flex items-center gap-2">
                Location
                <input id="location" formControlName="location" class="grow" type="text">
            </label>

            <label for="when" class="input input-bordered flex items-center gap-2">
                When
                <input id="when" formControlName="when" class="grow" type="datetime-local">
            </label>
            <div class="modal-action">
                <button class="btn btn-primary" (click)="saveChangesToEvent()" onclick="edit_event.close()" >Save</button>
            </div>
        </form>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button></button>
    </form>
</dialog>

<dialog id="add_ticket_type" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg">Add Ticket Type</h3>
        <form [formGroup]="newTicketTypeForm">
            <label for="ticket-name" class="input input-bordered flex items-center gap-2">
                Name
                <input id="ticket-name" formControlName="name" class="grow" type="text">
            </label>
            <label for="ticket-price" class="input input-bordered flex items-center gap-2">
                Price
                <input id="ticket-price" formControlName="price" class="grow" type="number">
            </label>
            <label for="ticket-quantity" class="input input-bordered flex items-center gap-2">
                Quantity
                <input id="ticket-quantity" formControlName="quantity" class="grow" type="number">
            </label>
            <div class="modal-action">
                <button class="btn btn-primary" (click)="addTicketType()" onclick="add_ticket_type.close()" >Add Ticket Type</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button></button>
    </form>
</dialog>
