<form [formGroup]="buyTicketsForm" class="mx-auto max-w-screen-md">
  <div [ngSwitch]="viewState">
    <app-ticket-types-selection
      *ngSwitchCase="BuyTicketsViewState.TicketTypesSelection"
      [event]="event"
      [ticketTypes]="ticketTypes"
      [buyTicketsForm]="buyTicketsForm"
      [getTotalPrice]="getTotalPrice.bind(this)"
      (next)="toggleCheckout()">
    </app-ticket-types-selection>

    <app-checkout
      *ngSwitchCase="BuyTicketsViewState.Checkout"
      [buyTicketsForm]="buyTicketsForm"
      (back)="toggleTicketTypes()"
      (next)="submitTicketForm()">
    </app-checkout>

    <app-confirmation
      *ngSwitchCase="BuyTicketsViewState.Confirmation"
      [eventId]="event?.id">
    </app-confirmation>
  </div>
</form>
