<div class="flex flex-col p-4 md:flex-row justify-between">
    <div class="flex flex-col md:flex-row md:gap-2 items-center">
        <div class="avatar placeholder">
            <div class="bg-base-200 rounded-full w-16 mx-auto">
                <span class="text-3xl">P</span>
            </div>
        </div>
        <h1 class="text-center text-3xl font-bold">{{ club.name }}</h1>
    </div>
    <div class="flex gap-4 justify-center">
        <a routerLink="/clubs/{{ club.id }}/sign-up"><button class="btn btn-sm btn-primary">Become a
                Member!</button></a>
    </div>

</div>
<div class="grid grid-cols-1 gap-4 md:grid-cols-2 grid-rows-2">
    <div class="card content-container h-72">
        <div class="card-body">
            <h2 class="card-title">Club Details</h2>
            <p>Name: {{ club.name }}</p>
            <p>Description: {{ club.description }}</p>
            <p>logo: {{ club.logoUrl }}</p>
            <p>Contact Email: {{ club.contactEmail }}</p>
        </div>
    </div>

    <div class="card content-container h-72 overflow-x-auto">
        <div class="card-body">
            <h2 class="card-title">Events</h2>
            <table class="table table-pin-rows">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Time and date</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    @for (event of eventsList; track event) {
                    <tr class="hover:bg-base-300 hover:cursor-pointer" routerLink="/events/{{event.id}}">
                        <th>{{ event.name }}</th>
                        <th>{{ event.when | date:'medium' }}</th>
                        <th>{{ event.location }}</th>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>