<div class="grid grid-cols-1 gap-4 p-4">
    <div class="flex justify-between items-center">
        <h1 class="text-center text-3xl font-bold">Dashboard</h1>
        <a routerLink="/events/{{event.id}}/buy-tickets"><button class="btn">Ticket Page</button></a>
    </div>
    
    <div class="stats border content-container w-40">
        <div class="stat">
            <div class="stat-title">Tickets Sold</div>
            <div class="stat-value">{{ ticketStats.ticketsSold }}/{{ ticketStats.totalTickets }}</div>
        </div>
    </div>
    
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 grid-rows-2">
        <div class="card content-container h-72">
            <div class="card-body">
                <h2 class="card-title text-xl">Event Info</h2>
                <p>Name: {{ event.name }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Date: {{ event.when | date:'medium' }}</p>
                <p>Description: {{ event.description }}</p>
                <div class="card-actions">
                    <button class="btn btn-block btn-sm btn-outline" onclick="edit_event.showModal()" (click)="editEvent()">Edit</button>
                </div>
            </div>
        </div>
    
        <div class="card content-container h-72">
            <div class="card-body overflow-auto">
                <h2 class="card-title text-xl">Ticket Types</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                        @for (ticketType of ticketTypes; track ticketType){
                            <tr>
                                <th>{{ ticketType.name }}</th>
                                <th>${{ ticketType.price }}</th>
                                <th>{{ ticketType.quantity }}</th>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="card-actions">
                    <button class="btn btn-block btn-sm btn-outline" onclick="add_ticket_type.showModal()">Add</button>
                </div>
        </div>
    </div>    
</div>

<!-- Modals -->
<dialog id="edit_event" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <h3 class="text-lg">Update Event Details</h3>
        <form [formGroup]="editEventForm">
            <label class="form-control" for="name">
                <div class="label">
                    <span class="label-text">Name</span>
                </div>
                <input type="text" id="name" formControlName="name" class="input input-bordered" required/>
            </label>

            <label class="form-control" for="location">
                <div class="label">
                    <span class="label-text">Location</span>
                </div>
                <input type="text" id="location" formControlName="location" class="input input-bordered" required/>
            </label>

            <label class="form-control" for="when">
                <div class="label">
                    <span class="label-text">When</span>
                </div>
                <input type="datetime-local" id="when" formControlName="when" class="input input-bordered" required/>
            </label>            

            <label class="form-control">
                <div class="label">
                    <span class="label-text">Description</span>
                </div>
                <textarea class="textarea textarea-bordered textarea-md w-full" formControlName="description"></textarea>
            </label>            

            <div class="modal-action">
                <button class="btn btn-primary" (click)="saveChangesToEvent()" onclick="edit_event.close()" >Save</button>
            </div>
        </form>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button></button>
    </form>
</dialog>

<dialog id="add_ticket_type" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg">Add Ticket Type</h3>
        <form [formGroup]="newTicketTypeForm">
            <label for="ticket-name" class="input input-bordered flex items-center gap-2">
                Name
                <input id="ticket-name" formControlName="name" class="grow" type="text">
            </label>
            <label for="ticket-price" class="input input-bordered flex items-center gap-2">
                Price
                <input id="ticket-price" formControlName="price" class="grow" type="number">
            </label>
            <label for="ticket-quantity" class="input input-bordered flex items-center gap-2">
                Quantity
                <input id="ticket-quantity" formControlName="quantity" class="grow" type="number">
            </label>
            <div class="modal-action">
                <button class="btn btn-primary" (click)="addTicketType()" onclick="add_ticket_type.close()" >Add Ticket Type</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button></button>
    </form>
</dialog>
