<div class="container grid gap-4 grid-cols-1">
    <h1 class="text-3xl text-center">Create an event</h1>

    <div>
        <h2 class="text-xl">Basic Info</h2>
        <form [formGroup]="newEventForm" class="max-w-screen-sm">
            <label for="name" class="input input-bordered flex items-center gap-2">
                Name
                <input id="name" formControlName="name" class="grow" type="text">
            </label>

            <label for="location" class="input input-bordered flex items-center gap-2">
                Location
                <input id="location" formControlName="location" class="grow" type="text">
            </label>

            <label for="when" class="input input-bordered flex items-center gap-2">
                When
                <input id="when" formControlName="when" class="grow" type="datetime-local">
            </label>
        </form>
    </div>

    <div>
        <h2 class="text-xl">Ticket Info</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @for (ticketType of ticketTypes; track ticketType){
                    <tr>
                        <th>{{ ticketType.name }}</th>
                        <th>{{ ticketType.price }}</th>
                        <th>{{ ticketType.quantity }}</th>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="ticket_type.showModal()">Add Ticket Type</button>
    </div>

    <div>
        <button class="btn btn-primary" (click)="createEvent()" >Create Event</button>
    </div>
</div>

<dialog id="ticket_type" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg">Create Ticket Type</h3>
        <form [formGroup]="ticketTypeForm">
            <label for="ticket-name" class="input input-bordered flex items-center gap-2">
                Name
                <input id="ticket-name" formControlName="name" class="grow" type="text">
            </label>
            <label for="ticket-price" class="input input-bordered flex items-center gap-2">
                Price
                <input id="ticket-price" formControlName="price" class="grow" type="number">
            </label>
            <label for="ticket-quantity" class="input input-bordered flex items-center gap-2">
                Quantity
                <input id="ticket-quantity" formControlName="quantity" class="grow" type="number">
            </label>
            <div class="modal-action">
                <button class="btn btn-primary" (click)="addTicketType()" onclick="ticket_type.close()" >Add Ticket Type</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button></button>
    </form>
</dialog>
