<div class="flex justify-between items-center">
    <h1 class="text-xl mt-6">All Events</h1>
    <a routerLink="/dashboard/clubs/{{activeClub.id}}/new-event">
        <button class="btn btn-secondary">New Event</button>
    </a>
</div>
<div class="grid grid-cols-1 gap-4 md:grid-cols-3 mt-6">
    @for (event of eventsList; track event) {
    <div class="card card-compact content-container hover:cursor-pointer hover:bg-base-200"
        routerLink="/dashboard/events/{{event.id}}">
        <div class="card-body">
            <div class="flex justify-between">
                <div>
                    <h2 class="card-title">{{ event.name }}</h2>
                    <p class="text-secondary">{{ event.when | date:'mediumDate'}}</p>
                    <p class="text-secondary">{{event.location}}</p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    }
</div>