<div class="flex flex-row mt-6 mr-6">
    <div class="drawer md:drawer-open">
        <input id="side-menu-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
            <label for="side-menu-drawer" class="btn btn-primary drawer-button md:hidden">Open drawer</label>
            <router-outlet></router-outlet>
        </div>
        <div class="drawer-side">
            <label for="side-menu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-gray-100 min-h-full w-60 p-3">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn m-1">{{activeClub.name}}</div>
                    <p></p>
                </div>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="text-primary"
                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li><a routerLink="clubs/{{activeClub.id}}/events" routerLinkActive="text-primary">Events</a></li>
                <li><a routerLink="clubs/{{activeClub.id}}/members" routerLinkActive="text-primary">Members</a></li>
                <li><a routerLink="clubs/{{activeClub.id}}/finance" routerLinkActive="text-primary">Finance</a></li>
            </ul>
        </div>
    </div>
    <div>
    </div>
</div>