@if (!hasSignedUp) {
    <div class="content-container mx-auto max-w-(--breakpoint-md) grid grid-cols-1 gap-4 p-4 mt-8">
        <h1 class="text-3xl text-center font-bold p-4">Sign Up for {{club.name}}</h1>
        <form [formGroup]="newMemberForm">
            <label class="form-control" for="first-name">
                <div class="label">
                    <span class="label-text">First Name</span>
                </div>
                <input type="text" id="first-name" formControlName="firstName" class="input input-bordered" required
                [ngClass]="{'input-error': newMemberForm.controls.firstName.invalid && newMemberForm.controls.firstName.dirty}"/>
                @if (newMemberForm.controls.firstName.invalid && newMemberForm.controls.firstName.dirty) {
                    <div class="label">
                        <span class="label-text-alt">First Name cannot be empty</span>
                    </div>
                }    
            </label>
    
            <label class="form-control" for="last-name">
                <div class="label">
                    <span class="label-text">Last Name</span>
                </div>
                <input type="text" id="last-name" formControlName="lastName" class="input input-bordered" required
                [ngClass]="{'input-error': newMemberForm.controls.lastName.invalid && newMemberForm.controls.lastName.dirty}"/>
                @if (newMemberForm.controls.lastName.invalid && newMemberForm.controls.lastName.dirty) {
                    <div class="label">
                        <span class="label-text-alt">Last Name cannot be empty</span>
                    </div>
                }
            </label>

            <label class="form-control" for="last-name">
                <div class="label">
                    <span class="label-text">Email</span>
                </div>
                <input type="email" id="email" formControlName="email" class="input input-bordered" required
                [ngClass]="{'input-error': newMemberForm.controls.email.invalid && newMemberForm.controls.email.dirty}"/>
                @if (newMemberForm.controls.email.invalid && newMemberForm.controls.email.dirty) {
                    <div class="label">
                        <span class="label-text-alt">Email cannot be empty or fix format</span>
                    </div>
                }
            </label>
    
            <div class="form-control">
                <label for="is-fresher" class="label cursor-pointer">
                    <span class="label-text">Are you a fresher?</span>
                    <input id="is-fresher" formControlName="isFresher" type="checkbox" class="checkbox">
                </label>
            </div>
    
            <button class="btn btn-primary float-end" (click)="createMember()" [disabled]="newMemberForm.invalid">Create Member</button>
        </form>
    </div>    
}

@if (hasSignedUp) {
    <article class="prose-2xl">
        <h1>Success!</h1>
    </article>    
}
